Add discussion of IPCOMP

Payload and header compression - IPComp (RFC 3173) and ROHC could reduce the size of a DPLPMTUD if the probe packets is compressible (draft-ietf-tsvwg-udp-options mandates that padding after EOL in the surplus area MUST be zero, so probe packets would tend to compress a lot.)
Discuss if this increases the chance a (compressible) probe is succesfully sent when data of the same size would not be?

> Payload and header compression - IPComp (RFC 3173) and ROHC could reduce the size of a DPLPMTUD if the probe packets is compressible (draft-ietf-tsvwg-udp-options mandates that padding after EOL in the surplus area MUST be zero, so probe packets would tend to compress a lot.) Discuss if this increases the chance a (compressible) probe is successfully sent when data of the same size would not be?

Yes, if DPLPMTUD is run "on top of" IPComp and all packets, including probe packets, are run through the IPComp module. Avoiding this outcome requires that probe packets bypass the IPComp module. Note that this consideration actually applies to all flavours of DPMPMTUD, not just the version using UDP options, though the latter is particularly susceptible.

In a "standard" IPSec implementation that includes an IPComp component that may optionally be invoked by rules in the Security Policy Database, enhancements to the SPD may be required to get probe packets to bypass the IPComp module. In an IPSec implementation of ESP encapsulated over UPD (RFC 3948) that includes an IPComp component, the problem can be avoided by run DPLPMTUD over the UDP tunnel.

Situations where IPComp (or any other form of packet compression) is run inside a tunnel (including an IPSec tunnel) should not affect DPMPMTUD at all, as long as the tunnel MTU that is enforced is correct - packets that are too big will be deterministically be dropped before tunnel compression occurs, while packets of smaller sizes will exit the tunnel with the compression removed so there is no effect on the probing of downstream links with smaller MTUs.

Note that ROHC won't compress the headers of probe packets emitted by DPMPLTUD and so presents no problem. See [draft-ietf-tsvwg-udp-options Section 22](https://datatracker.ietf.org/doc/html/draft-ietf-tsvwg-udp-options#section-22).

We could resolve this by adding text to the security considerations:

When a link or part of a path uses IPCOMP [RFC3173], then DPLPMTUD detects the MTU size configured at the node performing IPCOMP. This ought to be configured so that all routers support at least this MTU on the part of the path using IPCOMP. A probe packet that is larger than this MTU size would be discarded before the IPCOMP processing (see section 2 of [RFC3173]) and hence DPLPMTUD would correctly detect the value of the interface MTU.

Packet payload compression, such as IPCOMP, could result in a probe packet being compressed because the padding added by UDP Options is likely compressible. This would result in a compressed probe packet size that was less than the MTU and hence, DPLPMTUD would be unable to probe the part of the path. The compression policy could be updated to avoid compression of probe packets.

For the record, now that the issue has some visibility, I am comfortable with the decision to have the draft proceed to the RFC Editor without change, and I suggest closing this issue.